<div class="container-fluid">
  <h1>Enrollment Form</h1>

  <form
    #userForm="ngForm"
    *ngIf="!submitted"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <div class="form-group">
      <label minlength="3" for="name">Name</label>
      <input
        required
        minlength="3"
        name="userName"
        type="text"
        class="form-control"
        [class.is-invalid]="phone.invalid && name.touched"
        [(ngModel)]="userModel.name"
        #name="ngModel"
      />

      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="text-danger"
      >
        <small *ngIf="name.errors.required">*Name is required</small>

        <small *ngIf="name.errors.minlength"
          >*Name must be at least 3 characters</small
        >
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        required
        type="email"
        name="email"
        [class.is-invalid]="email.invalid && email.touched"
        class="form-control"
        [(ngModel)]="userModel.email"
        #email="ngModel"
      />

      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="text-danger"
      >
        <small *ngIf="email.errors.required">*Email is required</small>

        <!-- <small *ngIf="email.errors.pattern">*Enter a valid email: valid@example.com</small> -->
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input
        minlength="10"
        required
        [class.is-invalid]="phone.invalid && phone.touched"
        type="tel"
        name="phone"
        class="form-control"
        [(ngModel)]="userModel.phone"
        #phone="ngModel"
      />

      <div
        *ngIf="phone.invalid && (phone.dirty || phone.touched)"
        class="text-danger"
      >
        <small *ngIf="phone.errors.required">*Phone is required</small>

        <small *ngIf="phone.errors.minlength"
          >*Phone must be at least 10 digits</small
        >
      </div>
    </div>

    <div class="form-group">
      <select
        (blur)="validateTopic(topic.value)"
        (change)="validateTopic(topic.value)"
        required
        [class.is-invalid]="topicHasError && topic.touched"
        class="custom-select"
        name="topic"
        [(ngModel)]="userModel.topic"
        #topic="ngModel"
      >
        <option value="default">I am interested in</option>
        <option *ngFor="let topic of topics">{{ topic }}</option>
      </select>

      <div
        *ngIf="topicHasError && (topic.dirty || topic.touched)"
        class="text-danger"
      >
        *Please select a topic
      </div>
    </div>

    <div class="mb-3">
      <label for="slot">Time Preference</label>
      <div class="form-check">
        <input
          required
          type="radio"
          [(ngModel)]="userModel.timePreference"
          name="timePreference"
          value="morning"
          class="form-check-input"
          #timePreference="ngModel"
        />
        <label class="form-check-label">Morning (9AM - 12PM)</label>
      </div>

      <div class="form-check">
        <input
          required
          type="radio"
          [(ngModel)]="userModel.timePreference"
          name="timePreference"
          value="evening"
          class="form-check-input"
          #timePreference="ngModel"
        />
        <label class="form-check-label">Evening (5PM - 8PM)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input
        required
        type="checkbox"
        [(ngModel)]="userModel.subscribe"
        name="subscribe"
        class="form-check-input"
        #subscribe="ngModel"
      />
      <label class="form-check-label">Send me promotion offers</label>
    </div>

    <button
      [disabled]="userForm.form.invalid || topicHasError"
      class="btn btn-primary"
      type="submit"
    >
      Submit Form
    </button>
  </form>
</div>
